@model OTAWebApp.Models.SoftwareVersion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SoftwareVersion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Major" class="control-label"></label>
                <input asp-for="Major" class="form-control" />
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minor" class="control-label"></label>
                <input asp-for="Minor" class="form-control" />
                <span asp-validation-for="Minor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patch" class="control-label"></label>
                <input asp-for="Patch" class="form-control" />
                <span asp-validation-for="Patch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportedHardware" class="control-label"></label>
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<OTAWebApp.ViewModels.AssignedHardwareTypeData> HardwareTypes = ViewBag.HardwareTypes;

                                foreach (var hardwareType in HardwareTypes)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedHardwareTypes"
                                               value="@hardwareType.HardwareTypeId"
                                               @(Html.Raw(hardwareType.Assigned ? "checked=\"checked\"" : "")) />
                                        @hardwareType.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
